/* Globalne style */
body {
  font-family: 'Arial', sans-serif;
  background-color: #2c2f36;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
}

.app {
  width: 80%;
  margin: 20px auto;
}

.title {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Style dla listy kontenerów */
.container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.container-item {
  background-color: #3c4047;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.container-item:hover {
  transform: translateY(-10px);
  background-color: #555;
}

.container-item.selected {
  border-color: #4CAF50;
  background-color: #4f565e;
}

.container-item.red-border {
  border-color: #e74c3c;
}

.container-item.green-border {
  border-color: #4CAF50;
}

/* Przycisk dodania osoby i info - teraz obok siebie */
.buttons-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.add-button,
.info-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.info-button {
  margin-top: 10px;
}

.add-button:hover,
.info-button:hover {
  background-color: #0056b3;
}

/* Formularz dodawania osoby */
.form-container {
  background-color: #3c4047;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #e0e0e0;
}

.form-group input,
.form-group select {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #2c2f36;
  color: #e0e0e0;
}

.form-group input::placeholder,
.form-group select {
  color: #aaa;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #45a049;
}

/* Style dla modali */
.info-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-modal-content {
  background-color: #3c4047;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
}

.info-modal-content h3 {
  text-align: center;
  color: #ffffff;
}

.close-button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #c0392b;
}
